#!/bin/sh
# {{ ansible_managed }}

action="$2"

case $action in
    up)
        if grep -q \^$CONNECTION_UUID\$ /usr/local/etc/trusted_networks; then
            systemctl start bitlbee.service
        fi
        ;;
    down)
        systemctl stop bitlbee.service
        ;;
esac

exit 0
