#!/bin/sh
# {{ ansible_managed }}

action="$2"

case $action in
    up)
        if grep -q \^$CONNECTION_UUID\$ /usr/local/etc/trusted_networks; then
            systemctl start tarsnapper.timer
        fi
        ;;
    down)
        systemctl stop tarsnapper.timer
        ;;
esac

exit 0
